a {
  color: #9497ff;
}
body {
  background: #d4ffff repeat url();
  color: #000000;
  font-family: Open Sans;
  font-size: 13px;
}
p {
  margin: 5px 0;
}
.dropdown-menu {
  background-color: #ffffff;
  font-size: 13px;
}
.navbar-inverse {
  color: #ffffff;
  background: #243aff;
}
.nav-tabs,
.nav-tabs li a {
  border-color: #ffffff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #ffb13d;
  color: #ffffff;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #ffb13d;
  color: #ffffff;
  text-decoration: none;
}
@supports(background-image: linear-gradient(to bottom, #243aff  0px, #6e7cff  100%)) {
  .navbar-inverse {
    background-image: linear-gradient(to bottom, #243aff  0px, #6e7cff  100%);
    background-repeat: repeat-x;
  }
}
.footer-background {
  background-color: #4d4d4d;
  height: auto;
  color: #ffffff;
}
.footer-background a {
  color: #4e3bff;
}

.navbar-inverse .navbar-nav  li  a {
  color: #ffffff;
}
.menu-text-color.agri-nav-item.nav-space {
  color: #ffffff;
}
.dropdown-menu li  a {
  color: #ffffff;
  background-image: linear-gradient(to bottom, #243aff  0px, #6e7cff  100%);
  background-repeat: repeat-x;
}
.dropdown-menu  li  a:focus,
.dropdown-menu  li  a:hover {
  color: white;
  background: none;
}
.dropdown-menu {
  background-color: #243aff;
  background-image: linear-gradient(to bottom, #243aff  0px, #6e7cff  100%);
  background-repeat: repeat-x;
}
.menu-text-color .agri-nav-item .nav-space:hover {
  color: white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > :hover > a,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-nav ul.dropdown-menu li a:hover,
.navbar-nav ul.dropdown-menu li:hover,
ul.dropdown-menu li a:hover {
  background-image: none;
  background-color: #b061ff;
  box-shadow: none;
  border-width: 0px;
  border-color: #b061ff;
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b061ff', endColorstr='#b061ff', GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-image: none;
  background-color: #b061ff;
  box-shadow: none;
  border-width: 0px;
}
.dropdown-menu > .active,
.dropdown-menu > .active:focus,
.dropdown-menu > .active:hover,
.dropdown-menu > li:hover {
  background-image: none;
  background-color: #b061ff;
  box-shadow: none;
  border-width: 0px;
  border-color: #b061ff;
}
.dropdown-menu li a {
  background-image: none;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-inverse {
  border-color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #b061ff;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #b061ff;
  color: #ffffff;
}
#box-first .region {
  background-color: #0808ff;
  color: #ffffff;
  border: #ffffff 1px solid;
}
#box-second .region {
  background-color: #6459ff;
  color: #ffffff;
  border: #ffffff 1px solid;
}
#box-third .region {
  background-color: #ffab4a;
  color: #ffffff;
  border: #ffffff 1px solid;
}
#introduction {
  color: #ffffff;
  background: #000000 url();
}
#right_social_bar a.btn-social-icon {
  background-color: #3d51ff;
  color: #ffffff;
}
#rightbar {
  background-color: #ffffff;
  color: #000000;
  border: #f2f2f2  1px solid;
}
#rightbar a {
  color: #614bf2;
}
#content_bottom {
  background-color: #ffa245;
  color: #fcfcfc;
  border-top: #ffd073  1px solid;
  border-bottom: #ffd073  1px solid;
}
#content_bottom a {
  color: #000000;
}
#rightbar {
  margin-bottom: 15px;
  margin-top: 15px;
}
.btn {
  margin-right: 5px;
}
tr.even,
tr.odd {
  border-bottom: 1px solid #e8e5e5;
  padding: 0.1em 0.6em;
}
tr.even,
table > tbody > tr.even > td.active {
  background-color: #545454;
  color: #fff2f2;
}
tr.odd,
table > tbody > tr.odd > td.active {
  background-color: #474747;
  color: #ffffff;
}
.table > thead > tr > th,
.table > thead > tr > th.active {
  background-color: #000000;
  color: #ffffff;
}
.table > thead > tr > th > a {
  color: #e3e3e3;
}
.table > tbody > tr.odd > td  a {
  color: #e8e8e8;
}
.table > tbody > tr.even > td  a {
  color: #ffffff;
}
.btn-custom {
  background-color: #000000;
  background-image: linear-gradient(to bottom, #000000  0px, #3b3b3b   100%);
  color: #ffffff;
  border: #3b3b3b 1px solid;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.active {
  background-color: #ff004c;
  color: #ffffff;
  background-image: none;
  border: #ff004c 1px solid;
}
.carousel .item {
  background-color: #000000;
}

@media(max-width: 767px) {

  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
    background-color: #b061ff;
    color: #fff;
  }
}
