/*
* @file
* future_look theme  System Style(theme style sheet).
*
*/
/* ---------------------------------------------

* Filename:     style.css
* Website:      http://www.drupal1000.com
* Description:  System Styles
* Author:       Mr.Irfan Khan

-----------------------------------------------*/
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
  min-height: 300px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */

.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}
/* Thin out the marketing headings */

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/* theme table */

thead tr th,
thead tr td,
tbody tr th,
tbody tr td {
  line-height: 142%;
  padding: 8px;
  vertical-align: top;
}
table {
  border: 1px solid #dfdfdf;
  margin-bottom: 20px;
  width: 100%;
}
body {
  margin-top: 50px;
}
body.page-admin,
body.toolbar {
  margin-top: 0px;
}
#toolbar {
  z-index: 9999;
}
body.toolbar .navbar-fixed-top,
body.page-admin .navbar-fixed-top {
  position: relative;
  z-index: 100;
}
#right_social_bar a.btn-social-icon {
  width: 33px;
  height: 33px;
  float: right;
}
@media all and (max-width: 768px) {
  #right_social_bar a.btn-social-icon {
    float: left;
  }
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.footer-background {
  height: auto;
  padding: 10px 0;
}
#overlay .footer-background {
  display: none;
}
input[type="checkbox"],
input[type="radio"] {
  margin: 0px;
}
@media (min-width: 700px) {
  fieldset.collapsible,
  html.js fieldset.collapsed {
    padding-left: 20px;
  }
}
fieldset.collapsible legend {
  margin-bottom: 0px;
}
fieldset.collapsible,
html.js fieldset.collapsed {
  height: 100%;
  margin: 20px 0;
  padding-left: 20px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  right: 100%;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 0 0 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
h1,
.h1 {
  font-size: 28px;
}
h2,
.h2 {
  font-size: 24px;
}
#content_bottom {
  padding: 10px 0 5px;
}
#site-slogan {
  font-size: 15px;
  word-spacing: 0.1em;
  margin-top: 7px;
  margin-bottom: 10px;
}
nav.navbar {
  padding-left: 30px;
}
ul.menu {
  padding-left: 0px;
}
.region-box-first,
.region-box-second,
.region-box-third {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 768px) {
  #box-first,
  #box-second,
  #box-third {
    padding: 0px;
  }
}
.ctools-dropbutton {
  background-color: inherit;
}
.node .content {
  padding-top: 10px;
}
.vertical-tabs ul.vertical-tabs-list li {
  background-color: inherit;
  color: inherit;
}
#logo img,
#right_social_bar a {
  margin-top: 20px;
}
.designed-by {
  text-align: right;
}
@media (max-width: 768px) {
  #logo img {
    margin-bottom: 10px;
    margin-top: 15px;
  }
  #right_social_bar a {
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .designed-by {
    text-align: center;
  }
  .carousel-caption {
    bottom: inherit;
  }
  .navbar-brand {
    font-size: 14px;
  }
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.navbar {
  margin-bottom: 0px;
}
#content {
  margin-bottom: 10px;
}
/* .breadcrumb */

.breadcrumb {
  background-color: inherit;
  padding: 0px;
  margin-bottom: 0;
}
#introduction {
  padding: 10px 0;
}
#gfont-fix {
  position: fixed;
  bottom: 0px;
  text-indent: -9999;
  z-index: -1;
}
.slogan-fix {
  margin-bottom: 20px;
}
.field-type-image {
  padding-bottom: 10px;
}
